@import "../../sass/Colors.scss";

.home-header {
    height: 33%;

    .sub-header {
        width: 100%;
        text-align: center;
        color: $color-text-alternative;
    }

    .first {
        height: 30px;
        vertical-align: middle;
        align-self: flex-start;

        select {
            height: 30px;
            border: 0px;
            background: transparent;
            color: $color-text-alternative;
            text-align: center;
        }
    }

    // http://howtocenterincss.com/#contentType=text&content.text.fontSize=2em&content.text.lines=1&container.width=100pct&horizontal=center&vertical=middle&browser.IE=none
    .second {
        font-size: 2em;
        height: calc((100% - 30px) / 3 * 2);
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .third {
        height: calc((100% - 30px) / 3);
        vertical-align: middle;
        align-self: flex-end;

        .alice-carousel__dots{
            margin: 5px;
        }

        .alice-carousel__dots-item:hover,
        .alice-carousel__dots-item.__active {
            background-color: #fff;
        }
    }
}

@media only screen and (min-width: 768px) {
    .header-home {
        height: auto;
    }
}