@import "../../sass/Colors.scss";

.home-header {
    padding-bottom: 10px;
    color: $color-text-alternative;
    background: $color-primary;
    background: linear-gradient(180deg, $color-primary 0%, $color-secondary 100%);

    .sub-header {
        width: 100%;
        text-align: center;
        color: $color-text-alternative;
    }

    .first {
        vertical-align: middle;
        align-self: flex-start;
        overflow: hidden;

        select {
            border: 0px;
            margin-right: -48px;
            margin-top: 20px;
            background: transparent;
            color: $color-text-alternative;
            text-align: center;
        }

        .md-icon{
            float: right;
            width: 24px;
            height: 24px;
            padding: 12px;
        }
    }

    // http://howtocenterincss.com/#contentType=text&content.text.fontSize=2em&content.text.lines=1&container.width=100pct&horizontal=center&vertical=middle&browser.IE=none
    .second {
        font-size: 2em;
        height: 2.5em;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .third {
        vertical-align: middle;
        align-self: flex-end;

        .alice-carousel__dots{
            margin: 5px;
        }

        .alice-carousel__dots-item:hover,
        .alice-carousel__dots-item.__active {
            background-color: #fff;
        }
    }
}

@media only screen and (min-width: 768px) {
    .header-home {
        height: auto;
    }
}