.app-console{
    margin-top: 75px;
    margin-bottom: 2em;

    .app-console-container{
        width: 96%;
        max-width: 600px;
        margin: 20px auto 20px auto;
        padding: 20px;
    }
}