@import '../../book/Colors.scss';

.devices-list {
    margin-top: 75px;
    margin-bottom: 2em;
    
    .devices-list-container {
        width: 96%;
        max-width: 600px;
        margin: 0px auto;
        padding: 10px 15px;

        .message{
            text-align:center;
        }

        .devices-list {
            overflow: hidden;
            margin: 0px;

            .device{
                margin: 0px;
                padding: 0px;
            }
        }
    }
}

.delete-request-modal{
    display: flex;
    align-items: center;
    justify-content: center;

    .delete-request{
        width: 96%;
        max-width: 400px;
        margin: 40px auto 40px auto;
        padding: 20px 30px;

        svg{
            vertical-align: middle;
            display: inline-block;
            margin-right: 10px;
        }

        .buttons{
            margin-top: 20px;
            text-align: right;
        }
    }
}