$color-primary: #31d8ff;
$color-secondary: #fe80ff;

$color-text: #292929;
$color-text-light: #949494;
$color-text-very-light: #f1f1f1;
$color-text-alternative: #fff;

$color-excellent:#74c0be;
$color-gradient-primary-excellent:$color-excellent;
$color-gradient-secondary-excellent:#ddf0ee;

$color-good:#7ad19a;
$color-gradient-primary-good:$color-good;
$color-gradient-secondary-good:#e6f5ee;

$color-not-good:#ff9d30;
$color-gradient-primary-not-good:$color-not-good;
$color-gradient-secondary-not-good:#fff8e6;

$color-very-bad:#ff5f30;
$color-gradient-primary-very-bad:$color-very-bad;
$color-gradient-secondary-very-bad:#ffece6;