@import '../../book/Colors.scss';

.not-found-page {
    .app-bar {
        color: $color-text-alternative;
        background: $color-primary;
        background: linear-gradient(90deg, $color-primary 0%, $color-secondary 100%);
    }

    .content {
        width: 96%;
        max-width: 600px;
        margin: 20px auto 20px auto;
        padding: 30px 15px 40px 15px;
        text-align: center;

        .title {
            margin-bottom: 30px;
        }

        .to-homepage {
            color: $color-text-alternative;
            background: $color-primary;
            background: linear-gradient(135deg, $color-primary 0%, $color-secondary 100%);
        }

        .or-play {
            margin: 40px;
        }
    }
}