@import "../../sass/Colors.scss";

$gradient-1-percentage: 0%;
$gradient-2-percentage: 100%;

.credits{
    width: 95%;
    max-width: 600px;
    margin: 75px auto 0px auto;

    .credits-header{
        color: $color-text-alternative;

        background: #fff;
        background: linear-gradient(90deg, #31d8ff $gradient-1-percentage, #fe80ff $gradient-2-percentage);
    }

    .credits-main{
        li{
            padding: 6px;
        }
    }
}