.chart {
    margin: 30px 0;

    .title {
        margin-bottom: 20px;
    }
}

.chart-tooltip{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px 20px;

    div{
        margin: 10px 0;
    }
}