@import '../../book/Colors.scss';

.charts {
    .loading {
        padding: 20px;
        margin: 20px auto;
        max-width: 400px;
        width: 98%;
        text-align: center;

        .message {
            margin: 10px 0 20px 0;
        }
    }

    .charts-container {
        width: 96%;
        max-width: 600px;
        margin: 20px auto 20px auto;
        padding: 20px;
    }
}