.app-drawer {
    .app {
        margin: 20px 16px;

        .logo-container {
            min-width: 40px;
            display: inline-block;

            img {
                width: 24px;
                vertical-align: middle;
            }
        }
    }

    .device {
        margin: 30px 16px;

        .icon {
            vertical-align: text-bottom;
            margin-right: 10px;
        }

        .air-quality-average {
            font-size: 0.7em;
            display: inline-block;
            margin-left: 20px;
            opacity: 0.8;
            text-transform: uppercase;
        }

        .ip,
        .last-update {
            margin: 15px 0px;
        }

        .address {
            margin: 5px 0px;
        }
    }

    .list-container {
        min-width: 250px;

        .list-item-link {
            text-decoration: none;
            display: inline-block;
        }
    }
}