@import '../book/Colors.scss';

.credits {
    .app-bar {
        color: $color-text-alternative;
        background: $color-primary;
        background: linear-gradient(90deg, $color-primary 0%, $color-secondary 100%);

        .back-button {
            cursor: pointer;
        }
    }

    .links-container {
        width: 96%;
        max-width: 600px;
        margin: 20px auto 20px auto;
        padding: 20px;
    }
}