.loading {
    padding: 20px;
    margin: 0px auto 20px auto;
    max-width: 400px;
    width: 98%;
    text-align: center;

    .message {
        margin: 10px 0 20px 0;
    }
}

.air-quality-data {
    width: 96%;
    max-width: 600px;
    margin: 0px auto 20px auto;
}

.last-update {
    text-align: center;
    font-size: 0.8em;
    padding: 20px 0px;

    span {
        font-weight: bold;
    }
}