@import '../../book/Colors.scss';

header.app-bar-one-row {
    color: $color-text-alternative;
    background: $color-primary;
    background: linear-gradient(90deg, $color-primary 0%, $color-secondary 100%);

    .back-button {
        cursor: pointer;
    }
}