@import '../../book/Colors.scss';

.dashboard-header {
    height: 195px;
    padding: 1em 16px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    color: $color-contrast-text;
    background: $color-primary;
    background: linear-gradient(180deg, $color-primary 0%, $color-secondary 100%);

    .hamburger {
        margin-left: -12px;
        margin-top: -12px;
        color: #fff;
        padding: 12px;
        vertical-align: bottom;
        margin-right: 16px;
    }

    .spinner {
        position: fixed;
        right: 16px;
        top: 16px;
        color: #fff;
    }

    .headers{
        display: inline-block;

        .device-name {
            font-weight: bold;
            font-size: 1.2em;
        }
    }

    .sub-headers {
        margin-top: 15px;
        display: flex;
        flex-direction: column;

        .sub-header {
            display: inline-block;
            text-align: center;
        }

        .sub-header.quality {
            font-size: 2.0em;
            margin: 0.5em auto;
        }

        .sub-header.carousel {
            display: block;
            width: 100%;
            max-width: 450px;
            margin: 0px auto;
            cursor: pointer;
            user-select: none;
        }
    }
}