@import "../../sass/Colors.scss";

.home {
  margin-bottom: 100px; 

  .home-main {
    margin: 1em auto 0px auto; 
    width: calc(95% - 32px);
    max-width: 600px;
    background-color: #fff;
  }
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}