.md-typography{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.md-typography-h6{
    @extend .md-typography;

    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}