.login{
    margin-top: 95px;

    .main-login{
        text-align: center;

        .logo-container{
            .logo{
                width: 100px;
            }
        }

        .sign-out-button-container{
            margin-top: 50px;
        }
        
        .user-avatar-container{
            margin-top: 20px;
    
            .user-avatar{
                width: 50px;
                border-radius: 50%;
            }
        }
    
        .button-container{
            margin-top: 40px;
            display: block;
        }
    }
}