@import "../../sass/Colors.scss";

.appbar {
    display: flex;
    width: 100%;
    border-top: 1px solid $color-text-very-light;
    background: #fff;

    .item {
        vertical-align: middle;
        flex-grow: 1;
        width: calc(100% / 2);
        text-align: center;
        padding: 20px 0px;
        border-right: 1px solid $color-text-very-light;
    }

    item:last-child {
        border-right: 0px;
    }
}